body {
    background: #fafafa;
    font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #333;
    padding: 50px;
}

a {
    color: #00B7FF;
}

ul {
    padding: 0;
    width: 1000px;
}

ul li {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
}

#keywords {
    background: #fdffe0;
}

.comments {
    padding-left: 40px;
    background: #ffe0fb;
}

.posts {
    background: #e0efff;
}
