body {
    background: #fafafa;
    font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #333;
    padding: 50px;
}

a {
    color: #00B7FF;
}

ul {
    padding: 0;
    width: 1000px;
}

ul li {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
}

.posts {
    background: #fdffe0;
}

.comments {
    background: #e0efff;
    padding-left: 40px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
